.logo {
  font-family: Raleway, sans-serif;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;

  margin-right: 90px;

  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
  }
}
.logo--accent {
  color: var(--primary-black-color);
}
